* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header {
  max-width: 1200px;
  margin: 0 auto;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.section {
  max-width: 1200px;
  margin: 0 auto;
}

.input {
  font-size: 20px;
  padding: 19px 19px;
  padding-right: 0;
  border-radius: 5px;
  color: #b5b5b5;
  margin-bottom: 17px;
  height: 57px;
  border: none;
}

.button {
  font-size: 22px;
  font-weight: 600;
  border: none;
  border-radius: 5px;
}

@font-face {
  font-family: "Quite Chocolatey";
  src: url("../fonts/quite chocolatey.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat Regular";
  src: url("../fonts/Montserrat-Regular.eot");
  src: url("../fonts/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Regular.woff") format("woff"), url("Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat Bold";
  src: url("../fonts/Montserrat-ExtraBold.eot");
  src: url("../fonts/Montserrat-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-ExtraBold.woff") format("woff"), url("../fonts/Montserrat-ExtraBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PT Serif Regular";
  src: url("../fonts/PTSerif-Regular.eot");
  src: url("../fonts/PTSerif-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/PTSerif-Regular.woff") format("woff"), url("PTSerif-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Couture Bold";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/couture-bld.woff") format("woff");
}

.header {
  background: url("../img/header/bg.png") no-repeat center;
  position: relative;
  font-family: "PT Serif Regular", sans-serif;
  height: 693px;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 38px;
}

.navbar-wrap {
  padding-left: 19px;
}

.navbar__logo {
  margin: 0;
  height: 63px;
  font-size: 88px;
  font-weight: 400;
  color: #d03958;
  font-family: "Quite Chocolatey", sans-serif;
}

.navbar__menu {
  font-size: 18px;
  font-family: "Montserrat Regular", sans-serif;
}

.navbar__menu__link {
  text-decoration: none;
  font-weight: 700;
  text-transform: uppercase;
  margin-right: 32px;
  color: #161616;
}

.navbar__menu__link:last-child {
  margin-right: 0;
}

.navbar__active {
  padding: 10px 15px;
  color: #ffffff;
  background-color: #d03958;
  border-radius: 7px;
}

.hero__title {
  width: 493px;
  color: #d03958;
  font-family: "Montserrat Bold", sans-serif;
  font-size: 90px;
  font-weight: 200;
  line-height: 80px;
  text-transform: uppercase;
  letter-spacing: -1.8px;
  margin-top: 163px;
  margin-bottom: 47px;
}

.hero__text {
  width: 466px;
  font-size: 20px;
  font-weight: 400;
  color: #161616;
}

.hero__change-color {
  color: #161616;
  letter-spacing: -1.8px;
}

.form-search {
  position: absolute;
  top: 253px;
  right: 100px;
  max-width: 400px;
  max-height: 520px;
  padding: 33px 24px 28px;
  background-color: #d03958;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 5px;
}

.form-search__title {
  margin-top: 0;
  margin-bottom: 37px;
  font-size: 22px;
  color: #ffffff;
  text-align: center;
  font-family: "Montserrat Regular", sans-serif;
}

.form-search__button-form {
  text-transform: uppercase;
  max-height: 57px;
  padding: 20px 158px 20px 134px;
  background-color: #161616;
  color: #ffffff;
  font-weight: 400;
  margin-top: 20px;
  font-family: "Montserrat Regular", sans-serif;
}

.check-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.check-form__checked {
  opacity: 0;
}

.check-form__checked + .check-form__text::after {
  content: none;
}

.check-form__checked:checked + .check-form__text::after {
  content: "";
}

.check-form__text {
  position: relative;
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
  margin-left: 23px;
}

.check-form__text::before {
  position: absolute;
  top: 3px;
  left: -35px;
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid #ffffff;
  border-radius: 3px;
  background-color: #fff;
}

.check-form__text::after {
  position: absolute;
  top: 7px;
  left: -31px;
  content: "";
  display: inline-block;
  height: 6px;
  width: 9px;
  border-left: 2px solid black;
  border-bottom: 2px solid black;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.section-service {
  background-color: #fff;
}

.service {
  padding-top: 45px;
}

.service__title {
  margin-top: 0;
  margin-bottom: 0;
  color: #d03958;
  font-size: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Couture Bold", sans-serif;
}

.service-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.service-items__item {
  text-align: center;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.service-item {
  margin-top: 100px;
  margin-bottom: 68px;
}

.service-item__text {
  width: 230px;
  font-size: 20px;
}

.service-text {
  margin-top: 45px;
}

.section-story {
  background-color: #d03958;
}

.story-section {
  padding-top: 34px;
  padding-bottom: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.story-section__text {
  margin: 0;
  padding-left: 19px;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  max-width: 600px;
  color: #ffffff;
}

.story-section__button {
  text-transform: uppercase;
  margin-left: auto;
  width: 270px;
  min-height: 64px;
  background-color: #e3d5b8;
  font-family: "Montserrat Regular", sans-serif;
}
/*# sourceMappingURL=style.css.map */