.navbar
    &_active
        //background-color: $primary
        //color: $third
        padding: 12px 15px
        border-radius: 3px

.hero
    &_change-color
        //color: $primary

.input
    font-size: 20px
    padding: 19px 19px
    padding-right: 0
    border-radius: 5px
    color: #161616
    margin-bottom: 16px  
    height: 57px
    border: none

.button
    font-size: 22px
    font-weight: 600
    border: none
    border-radius: 5px    
    //background-color: $second
    //+montreg