$primary: #d03958
$second: #161616
$third: #ffffff

//Стили секции услуг   
.section-service
    background-color: #fff    
.service
    padding-top: 45px        
    &__title
        margin-top: 0
        margin-bottom: 0
        color: $second
        font-size: 50px
        font-weight: 700
        text-transform: uppercase
        +couture
    &-items
        display: flex
        justify-content: space-between
        align-items: center
        &__item
            text-align: center
            align-self: flex-end                                 
    &-item
        margin-top: 100px
        margin-bottom: 68px
        &__text
            width: 230px
            font-size: 20px
            margin-top: 0
            margin-bottom: 0
            text-align: center
    &-text
        margin-top: 45px

//Стили блока истории
.section-story    
    background-color: $primary
.story-section
    padding-top: 34px
    padding-bottom: 24px
    display: flex
    justify-content: space-between
    align-items: center
    &__text
        margin: 0
        padding-left: 19px
        font-size: 20px
        font-weight: 400
        line-height: 28px        
        max-width: 600px
        color: $third
    &__button        
        text-transform: uppercase
        margin-left: auto        
        width: 270px
        min-height: 64px
        background-color: #e3d5b8
        +montreg

// Стили секции с ценами
.section-pricing
    background-color: #e3d5b8
    height: 540px
.pricing    
    &-title
        text-align: center
        padding-top: 64px
        margin-bottom: 60px
    &-group
        display: flex
        justify-content: space-between
        align-items: flex-end                      
        &__item
            position: relative
            margin: 0
            height: 360px
            width: 320px
            background-color: $third
            padding: 35px 30px 0px
            border-radius: 0
            border-top-right-radius: 7px
            border-top-left-radius: 7px
            display: flex
            flex-direction: column
            justify-content: space-between
            align-items: center                                  
    &__title
        color: $primary
    &__button
        width: 80%
        text-transform: uppercase
        +montreg
        font-size: 22px
        font-weight: 600
        color: $second
        background-color: #e3d5b8
        padding: 17px 0        
    &_change-color
        color: $third
        background-color: $primary
    &__position
        position: absolute
        color: $second
        background-color: #b4a993        
        padding: 35px 0 15px
        transform: rotate(-45deg)
        top: -12px
        left: -84px
        opacity: 0.5
        //z-index: -1

//Секция блога и фотогалерея
.blog    
    display: flex
    justify-content: space-between
    align-items: flex-start
    padding-top: 155px
    padding-bottom: 120px    
    &-left
        display: flex
        flex-direction: column
        justify-content: space-between
        align-items: flex-start
        width: 490px
        &__message
            position: relative
            margin-bottom: 70px
            &:last-child
                margin-bottom: 0
        &__title
            display: block
            font-size: 50px
            +mont_bold
            margin: auto
            color: $second
            margin-bottom: 65px
        &__text
            font-size: 20px
            margin: 0            
        &_background
            background-color: #e3d5b8
            padding-left: 26px
            padding-right: 79px
            padding-top: 26px
            height: 142px
            border-radius: 5px
        &__signature
            color: $primary
            font-size: 20px
            +montreg
    &__image
        position: absolute
        top: -10px
        right: -160px
    &_position
        right: -65px
        top: 0
    &-right
        display: flex
        flex-direction: column
        justify-content: space-between
        align-items: flex-start
        width: 490px           
        &__title
            display: block
            font-size: 50px
            +mont_bold
            margin: auto
            color: $primary
            margin-bottom: 65px
        &__link
            color: $primary
            font-size: 20px
            margin: auto
            margin-top: 47px
        &__image            
            text-align: right











